<!DOCTYPE html>
<html>


<head>
  <link rel="stylesheet" href="conflict/style.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.form-check-label {
  margin: 5px;
  padding: 5px;
  word-spacing: 4px;
}



input {
  padding-right: 5px;
  margin: 5px;
}

h2 {
  margin: 15px;
  font-family: "Lato";
}

h1 {
  text-align: center;
  border-bottom: solid;
}

/*input:hover, .form-check-label:hover {
  background-color: #EEE8E8;
}*/

.col-xs-6:hover {
  background-color: #CACACA;
}

.lead {
  margin: 5px 50px 5px 50px;
}

/* 5 col solution for bootstrap not made by me
    https://blog.polarbits.co/2014/02/16/quick-tips-5-column-layout-with-twitter-bootstrap/
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.row {
  border: solid;
}

.header {
  text-transform: capitalize;
  text-align: center;
  
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
  margin-left: 60px;
  margin-top: 5px;
  padding-top: 10px;
}

</style>

</head>
<body>
  <h1>
    Free Thomas-Kilmann Conflict Test Online
  </h1>   
  <h2>
    Consider situations in which you find your wishes differing from those of another person.  How do you usually respond to such situations? </h2>
    
      <p class="lead">Disclaimer: I am not the author of this survey. I simply took a pdf of the questionaire and made it into an online format.


    <p class="lead">Below are several pairs of statements describing possible behavioral responses.  For each pair, please select the Left or Right statement which is most characteristic of your own behavior.
    In many cases, neither statement may be very typical of your behavior, but please select the response which you would be more likely to use.
    <p class="lead">Between the two options, pick the one that you more  immediately feel attuned to. 
      <h1 class="lead">Please only pick one of the two options per row, otherwise the results may not be accurate!</h1>
  

<div class="container">


  <!--    this is where the options buttons get added in jquery  -->
</div>

<input class="btn btn-primary btn-large btn-block" type="submit" value="Submit" data-toggle="modal" data-target="#myModal">

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Results</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-15">
            <p>Competing
          </div>
          <div class="col-md-15">
            <p>Collaborating
          </div>
          <div class="col-md-15">
            <p>Compromising
          </div>
          <div class="col-md-15">
            <p>Avoiding
          </div>
          <div class="col-md-15">
            <p>Accommodating
          </div>
        </div>

        <div>
       <h2>Interpreting Your Scores</h2>

          <p> One of the most asked questions is: What are the right answers? In this type of test, there are no 'right' answers. All five modes of handling conflict are useful in various situation, and each represents a set of useful social skills. Listed below examples:

          <p>Collaboration: "Two heads are better than one."
            <p> Accommodation: "Kill your enemies with kindness."
              <p>Compromising: "Split the difference."
                <p>Avoiding: "Leave well enough alone."
                  <p>Competing: "Might makes right."

          <p> The effectiveness of any handling any conflict depends on the requirements of the conflict and the skill that is employed.

          <p> Each of us is capable of using all five conflict modes, and none of us can be characterized as having a single rigid style of dealing with conflict. However, because of personality traits or by habit, individuals tend to use one or two modes at a greater frequency than the others.  Conflict resolution tools that a person employs can be selected based on the personal preference and the requirements of the situation.

          <p>The following information may help you judge how appropriately you use the five methods of conflict resolution. 

             <p>1. Competing is best used:
            <ul>
              <li>when quick decisive action is vital; e.g. emergencies</li>
                <li>with important issues where unpopular courses of action need implementing. such as cost cutting, or enforcing unpopular rules and discipline</li>
                <li>with issues vital to company welfare when you know you are right</li>
                <li>to protect yourself against people who take advantage of you</li>

            </ul>

                <p>2. Collaborating is best used:
              <ul>
                <li>to find an integrative solution when both sets of concerns are too important to be compromised.</li>
                <li>when your objective is to learn; e.g., testing your own assumptions, understanding the views of others.</li>
                <li>to merge insights from people with different perspectives on a problem.</li>
                <li>to gain commitment by incorporating other's concerns into a consensual decision</li>
                <li>to work through hard feelings which have been interfering with an interpersonal relationship</li>
              </ul>

<p>3. Compromising is best used:
              <ul>
                <li>when goals are moderately important, but not worth the effort or potential disruption of more assertive modes.</li>
                <li>when two opponents with equal power are strongly committed to mutually exclusive goals; i.e., as in labor management bargaining</li>
                <li>to achieve temporary settlements to complex issues.</li>
                <li>to arrive at expedient solutions under time pressure</li>
                <li>as a backup mode when collaboration or competition fails to be successful.</li>
              </ul>    
<p>4. Avoiding is best used:
  <ul>
    <li>when an issue is trivial, of only passing importance, or when other more important issues are pressing.</li>
    <li>when you perceive no chance of satisfying your concerns; e.g., when you have low power of you are frustrated by something that would be very difficult to change (national policies, someone's personality).</li>
    <li>when the potential damage of confronting a conflict outweighs the benefits of its resolution</li>
    <li>to let people cool down; i.e., to reduce tensions to a productive level and regain perspective and composure.</li>
    <li>when gathering more information outweighs the advantages of an immediate decision.</li>
    <li>when others can resolve the conflict more effectively.</li>
    <li>when the issue seems tangential or symptomatic of another more basic issue.</li>
  </ul>

  <p>5. Accommodating is best used:
    <ul>
      <li>when others can resolve the conflict more effectively.</li>
      <li>when the issue is much more important to the other person than to yourself - to satisfy the needs of others, and to show you are reasonable</li>
      <li>to build up social credits for later issues which are important to you.</li>
      <li>when continued competition would only damage your cause, i.e., when you are outmatched and losing.</li>
      <li>when preserving harmony and avoiding disruption are especially important.<li>
        <li>to aid in the managerial development of subordinates by allowing them to experiment and learn from their own mistakes</li>
    </ul>

        </div>


      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

<div class="footer">
  <p>UI by <a href="https://www.melcrunch.com">Carmelle Millar. </a>
  </div>

<script>

// 1 = COMPETING
// 2 = COLLABORATING
// 3 = COMPROMISING
// 4 = AVOIDING
// 5 = ACCOMMODATING

var type_dict = {'1A':4, '1B': 5, '2A': 3, '2B': 2, '3A': 1, '3B': 4, '4A': 3, '4B': 5, 
  '5A': 2, '5B': 4, '6A': 4, '6B': 1, '7A': 4, '7B': 3, '8A': 1, '8B': 2, '9A': 4, '9B': 1, '10A': 1, 
  '10B': 3, '11A': 2, '11B': 5, '12A': 4, '12B': 3, '13A': 3, '13B': 1, '14A': 2, '14B': 1, '15A': 5, '15B': 4,
  '16A': 5, '16B': 1, '17A': 1, '17B': 4, '18A': 5, '18B': 3, '19A': 2, '19B': 4, '20A': 2, '20B': 4, '21A': 5, 
  '21B': 2, '22A': 3, '22B': 1, '23A': 2, '23B': 4, '24A': 5, '24B': 3, '25A': 1, '25B': 1, '26A': 3, '26B': 2, 
  '27A': 4, '27B': 5, '28A': 1, '28B': 2, '29A': 3, '29B': 4, '30A': 5, '30B': 2 };

var A_array = ['There are times when I let others take responsibility for solving the problem.', ' I try to find a compromise solution.', 
    'I am usually firm in pursuing my goals.', 'I try to find a compromise solution.', 
    'I consistently seek the other\'s help in working out a solution.', 'I try to avoid creating unpleasantness for myself.', 
    'I try to postpone the issue until I have had some time to think about it.', 'I am usually firm in pursuing my goals.', 
    'I feel that differences are not always worrying about.', 'I am firm in pursuing my goals.', 
    'I attempt to get all concerns and issues immediately out in the open.',
    'I sometimes avoid taking positions which would create controversy.', 
    'I propose middle ground.',
    'I tell another my ideas and ask them for theirs.',
    'I might try to soothe the other\'s feelings and preserve our relationship.',
    'I try not to hurt the other\'s feelings.',
    'I am usually firm in pursuing my goals.',
    'If it makes the other person happy, I might let them maintain their views.',
    'I try to get all concerns and issues immediately out in the open.',
    'I attempt to immediately work through our differences.',
    'In approaching negotiations, I try to be considerate of the other person\'s feelings.',
    'I try to find a position that is intermediate between mine and another person\'s.',
    'I am often concerned with satisfying all my wishes.',
    'If the other\'s position seems important to them, I would try to meet their wishes',
    'I try to show the other person the logic and benefits of my position.',
    'I propose a middle ground.',
    'I sometimes avoid taking positions that would create controversy.',
    'I am usually firm in pursuing my goals.',
    'I propose middle ground.',
    'I try not to hurt the other person\'s feelings.'];

var B_array = [' Rather than negotiate the things on which we disagree, I try to stress those things upon which we both agree.', 'I attempt to deal with all of another\'s and my concerns.', 'I might try to soothe the other\'s feelings and preserve our relationship.', 'I sometimes sacrifice my own wishes for the wishes of the other person.', 
    'I try to do what is necessary to avoid useless tensions.', 'I try to win my position.', ' I give up some points in exchange for others.', 'I attempt to get all concerns and issues immediately out in the open.', 
    'I make some effort to get my way.','I try to find a compromise solution.', 'I might try to soothe the other\'s feelings and preserve our relationship.',
    'I will let another have some of their positions if they let me have some of mine.',
    'I press to get my points made.',
    'I try to show them the logic and benefits of my position.',
    'I try to do what is necessary to avoid tension.',
    'I try to convince the other person of the merits of my position.',
    'I try to do what is necessary to avoid useless tensions.',
    'I will let the other person have some of their positions if they let me have some of mine.',
    ' I try to postpone the issue until I have had some time to think it over.',
    'I try to find a fair combination of gains and losses for both of us.',
    'I always lean toward a direct discussion of the problem.',
    'I assert my wishes.',
    'There are times when I let others take responsibility for solving problems.',
    'I try to get the other person to settle for a compromise.',
    'In approaching negotiations, I try to be considerate of the other person\'s wishes.',
    'I am nearly always concerned with satisfying all my wishes.',
    'If it makes the other person happy, I might let them maintain their views.',
    'I feel that differences are not always worth worrying about.',
    'I feel that differences are not always worth worrying about.',
    'I always share the problem with the other person so that we can work it out.' ];

// we get the index from the type_dictionary then i++

var score_array = [0, 0, 0, 0, 0, 0];


main();



function main() {
  setFormContainers();
  var labels = $(".form-check-label").map(function() {
    return this;
  }).get();
  renderInputButtons(labels);

  // count up for each category
    $(document).ready(function(){
    $("input[type='submit']").click(function(){
      score_array = [0, 0, 0, 0, 0, 0];
      $(':radio:checked').each(function(){
        console.log($(this).attr('id'));
        console.log('type_dict[$(this).attr(id)]: ', type_dict[$(this).attr('id')]);
         score_array[type_dict[$(this).attr('id')]] += 1;
      });
      console.log(score_array);
      displayResults();


      });
  });
}

function displayResults() {
  var results = $(".col-md-15").map(function() {
    return this;
  }).get();
  for (var i = 0; i < results.length; i++) {
    $(results[i]).append("<p class='r'>" + score_array[i+1].toString());
  }
}

function renderInputButtons(labels) {
  b_array_counter = 0;
  a_array_counter = 0;
  for (let i = 0; i < A_array.length + B_array.length; ++i) { 
    if (i % 2 == 0) {
      id = (a_array_counter+1).toString() + 'A';
      var inner = A_array[a_array_counter];
      a_array_counter += 1;
    } else {
      id = (b_array_counter+1).toString() + 'B';
      var inner = B_array[b_array_counter];
      b_array_counter += 1;
    }
    var $newinput = $( '<input type="radio" class="form-check-input" unchecked></input>')
    $newinput.attr('name',i);
    $newinput.attr('id',id);
    console.log(id);
    $(labels[i]).append($newinput);
    $(labels[i]).append("    " + inner)
  }
}

// https://stackoverflow.com/questions/10876953/how-to-make-a-radio-button-unchecked-by-clicking-it
// brilliant code for unchecking options buttons 
$(document).on("click", "input", function(){
  thisRadio = $(this);
  if (thisRadio.hasClass("imChecked")) {
    thisRadio.removeClass("imChecked");
    thisRadio.prop('checked', false);
    score_array[type_dict[$(thisRadio).attr('id')]] -= 1;
  } else { 
    thisRadio.prop('checked', true);
    thisRadio.addClass("imChecked");
  };
})

/* creates all divs for all the options and the labels within those divs  */
function setFormContainers() {
  // add header row
  // var $headerrow = $( ' <div class="row"> 
  //    <div class="col-xs-6 form-check">option A</div>
  //    <div class="col-xs-6 form-check">option B</div>
  //  </div> ');
  // $(".container").append($headerrow);
  //$(".container").append('<div class="row"><div class="col-xs-6 form-check header">option 1</div><div class="col-xs-6 form-check header">option 2</div></div>')

  for (var i = 0; i < A_array.length; i++) {
    // create rows for 2 choices
    var $row = $( '<div class="row"></div>')
    $(".container").append($row)
  }

  // add 2 cols to each row
  var $opt1 = $( '<div class="col-xs-6 form-check"></div>');
  $('.row').append($opt1);
  $('.row').append($opt1);

  // add labels to each col
  $('.col-xs-6').append('<label class="form-check-label"></label>') 

}

</script>

</html>